:root {
    font-size: 16px;
}

html {
    max-width: 1400px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$desktop-break: 680px;

$basic-transition: 200ms ease-in-out;


/* ---COLORS------*/

$primary-color: #901C1C;
$secondary-color: #D3573C;
$black: #000000;
$light: #757575;
$very-light: #C4C4C4;

$general-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);


/* ---TYPOGRAPHY---------*/

$primary-font: 'DM Sans', sans-serif;

h1, h2, h3, h4, p {
    font-family: $primary-font;
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 400;
    color: $primary-color;
}
h2 {
    color: $secondary-color;
}
h3, h4 {
    font-size: 0.8rem;
    line-height: 1rem;
}
p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: $light;
}
.p--small {
    font-size: 0.8rem;
    line-height: 1.1rem;
}
.p--xsmall {
    font-size: 0.625rem;
    line-height: 1rem;
    color: black;
}
.p--light {
    color: $light;
}
.p--primary-color {
    color: $primary-color;
}



%tag-list-item {
    height: 22px;
    border: 1px solid $very-light;
    border-radius: 11px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 0 5px 5px 0;
    transition: $basic-transition;
    font-family: $primary-font;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
    color: $primary-color;
}

// %tag-link {
//     font-family: $primary-font;
//     font-size: 0.75rem;
//     line-height: 0.75rem;
//     font-weight: 500;
//     color: $primary-color;
// }

// h1, h2, h4 {
//     font-family: $primary-font;
//     font-size: 0.9rem;
//     line-height: 2.9rem;
//     font-weight: 400;
//     color: $primary-color;
// }

// h2 {
//     color: $secondary-color;
//     font-size: 2.25rem;
//     text-align: center;
// }

// h4 {
//     color: $primary-color;
//     font-size: 0.8rem;
//     line-height: 1rem;
// }

// p {
//     font-family: $primary-font;
//     font-size: 0.625rem;
//     line-height: 1rem;
//     color: $black;
// }

// .p--small {
//     font-size: 0.56rem;
// }
// .p--light-color {
//     color: $light;
// }



@media screen and (min-width:$desktop-break) {


    h1 {
        font-size: 4rem;
        line-height: 5.25rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

}