:root {
  font-size: 16px;
}

html {
  max-width: 1400px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---COLORS------*/
/* ---TYPOGRAPHY---------*/
h1, h2, h3, h4, p {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 400;
  color: #901C1C;
}

h2 {
  font-size: 0.875rem;
  color: #D3573C;
}

h3, h4 {
  font-size: 0.8rem;
  line-height: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #757575;
}

.p--small {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.p--xsmall {
  font-size: 0.625rem;
  line-height: 1rem;
  color: black;
}

.p--light {
  color: #757575;
}

.p--primary-color {
  color: #901C1C;
}

.primary-color {
  color: #901C1C;
}

main .photographers__tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 5px;
}

header nav ul li, main .photographers__tags li {
  height: 22px;
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  transition: 200ms ease-in-out;
  font-family: "DM Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 500;
  color: #901C1C;
}

@media screen and (min-width: 680px) {
  h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    line-height: 5.25rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
  position: relative;
}

header .logo-link {
  max-width: 150px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .logo-link img {
  width: 100%;
  object-fit: cover;
}

header nav {
  order: 1;
  margin: 20px 0px;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}

header nav ul li {
  cursor: pointer;
}

header nav ul li:hover {
  background-color: #901C1C;
  color: white;
}

header nav ul li.selected {
  background-color: #901C1C;
  color: white;
}

header h2 {
  color: #901C1C;
}

header .content-btn {
  padding: 5px 10px;
  background-color: #DB8876;
  border-radius: 5px;
  color: #000000;
  position: fixed;
  border: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  left: 50%;
  top: 10px;
  transform: translate(-50%, -150%);
  transition: 200ms ease-in-out;
  opacity: 0;
}

header .content-btn.show {
  opacity: 1;
  transform: translate(-50%, 0%);
}

main {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
}

main .photographers {
  display: flex;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  padding: 40px 0;
}

main .photographers__list-item {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

main .photographers__list-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #D3573C;
  text-decoration: none;
}

main .photographers__list-item a:hover {
  text-decoration: underline;
}

main .photographers__list-item.show {
  display: flex;
}

main .photographers__portrait {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

main .photographers__portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .photographers .name-link {
  background-color: transparent;
  border: none;
}

main .photographers .name-link:hover h2 {
  text-decoration: underline;
}

main .photographers__tags {
  justify-content: center;
}

@media screen and (min-width: 680px) {
  header nav {
    width: 100%;
  }
  main {
    padding: 0 30px;
  }
  main .photographers__list-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    flex-wrap: nowrap;
    padding: 40px;
  }
  header .logo-link {
    max-width: 200px;
  }
  header nav {
    width: unset;
    order: 0;
    margin: 0 40px;
  }
  main {
    padding: 0 40px;
  }
  main .photographers {
    padding: 100px 40px;
    justify-content: space-evenly;
  }
  main .photographers__list-item {
    width: 30%;
  }
}
/*# sourceMappingURL=index.css.map */