@import 'base';


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
    .logo-link {
        max-width:  150px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    nav {
        order: 1;
        margin: 20px 0px;
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            flex-wrap: wrap;
            li {
                @extend %tag-list-item;
                cursor: pointer;
                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
            li.selected {
                background-color: $primary-color;
                color: white;
            }
        }
    }
    h2 {
        color: $primary-color;
    }
}

main {
    display: flex;
    // padding: 40px;
    padding: 0 20px;
    flex-direction: column;
    .photographers {
        display: flex;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        padding: 40px 0;
        &__list-item {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                color: $secondary-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__list-item.show {
            display: flex;
        }
        &__portrait {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: $general-shadow;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .name-link {
            background-color: transparent;
            border: none;
            &:hover h2{
                text-decoration: underline;
            }
        }
        &__tags {
            // display: flex;
            // list-style: none;
            // justify-content: center;
            // flex-wrap: wrap;
            // margin-top: 5px;
            @extend %tag-ul;
            justify-content: center;
            li {
                @extend %tag-list-item;
            }
        }
    }
    // .photographers__list-item.show {
    //     display: flex;
    // }
}



@media screen and (min-width: $tablet-break) {
    header {
        nav {
            // justify-content: center;
            width: 100%;
        }
    }
    main {
        padding: 0 30px;
        .photographers {
            &__list-item {
                width: 50%;
            }
        }
    }
}



@media screen and (min-width: $desktop-break) {

    header {
        flex-wrap: nowrap;
        padding: 40px;
        .logo-link {
            max-width: 200px;
        }
        nav {
            width: unset;
            order: 0;
            margin: 0 40px;
        } 
    }

    main {
        // padding: 100px 40px;
        padding: 0 40px;
        .photographers {
            padding: 100px 40px;
            justify-content: space-evenly;
            &__list-item {
                width: 30%;
            }
        }
    }
}

