:root {
  font-size: 16px;
}

html {
  max-width: 1400px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---COLORS------*/
/* ---TYPOGRAPHY---------*/
h1, h2, h3, h4, p {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 400;
  color: #901C1C;
}

h2 {
  font-size: 0.875rem;
  color: #D3573C;
}

h3, h4 {
  font-size: 0.8rem;
  line-height: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: #757575;
}

.p--small {
  font-size: 0.8rem;
  line-height: 1.1rem;
}

.p--xsmall {
  font-size: 0.625rem;
  line-height: 1rem;
  color: black;
}

.p--light {
  color: #757575;
}

.p--primary-color {
  color: #901C1C;
}

.primary-color {
  color: #901C1C;
}

.photographer__tags {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 5px;
}

.photographer__tags li {
  height: 22px;
  border: 1px solid #C4C4C4;
  border-radius: 11px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  transition: 200ms ease-in-out;
  font-family: "DM Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 500;
  color: #901C1C;
}

@media screen and (min-width: 680px) {
  h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    line-height: 5.25rem;
  }
  h2 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.photographer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
  position: relative;
}

.photographer__info-contact {
  display: flex;
  align-items: center;
}

.photographer__info-contact h1 {
  color: #D3573C;
}

.photographer__info-contact button {
  position: fixed;
  bottom: 30px;
  left: 50%;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  padding: 5px 20px;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.photographer__info-contact button:hover {
  background-color: #D3573C;
  color: #000000;
}

.photographer__tags {
  width: 100%;
}

.photographer__tags li {
  cursor: pointer;
}

.photographer__tags li:hover {
  background-color: #901C1C;
  color: white;
}

.photographer__portrait {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.photographer__portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photographer__images {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.photographer__images .trier {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.photographer__images .trier p {
  font-size: 1.125rem;
  line-height: 1.43rem;
  color: black;
}

.photographer__images .trier__list {
  background-color: #901C1C;
  padding: 10px 20px;
  margin-left: 20px;
}

.photographer__images .trier__list select {
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.125rem;
  line-height: 1.43rem;
}

.photographer__images-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photographer__images-list li {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.photographer__images-list li .image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.photographer__images-list li .image img, .photographer__images-list li .image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photographer__images-list li .image__title {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.photographer__images-list li .image__rating {
  display: flex;
  align-items: center;
}

.photographer__images-list li .image__rating h4 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin-right: 10px;
}

.photographer__images-list li .image__rating i.show {
  cursor: pointer;
  font-size: 20px;
  color: #901C1C;
}

.photographer__images-list li .image__rating i.hidden {
  display: none;
}

.lightbox {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lightbox__container {
  width: 80%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lightbox__container .lightbox__previous {
  width: 25px;
  height: 50px;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.lightbox__container .lightbox__previous:before, .lightbox__container .lightbox__previous:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-right: 25px solid #901C1C;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.lightbox__container .lightbox__previous:after {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid white;
  left: 7px;
  z-index: 1;
}

.lightbox__container .lightbox__next {
  width: 25px;
  height: 50px;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.lightbox__container .lightbox__next:before, .lightbox__container .lightbox__next:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 25px solid white;
  border-bottom: 25px solid white;
  border-left: 25px solid #901C1C;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.lightbox__container .lightbox__next:after {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid white;
  left: -7px;
  z-index: 1;
}

.lightbox__container .lightbox__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lightbox__container .lightbox__close:before, .lightbox__container .lightbox__close:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #901C1C;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.lightbox__container .lightbox__close:after {
  transform: translateY(-50%) rotate(45deg);
}

.lightbox__container .lightbox__images {
  width: 90%;
  height: 90%;
  justify-content: center;
  display: flex;
}

.lightbox__container .lightbox__images li {
  display: none;
}

.lightbox__container .lightbox__images li.show {
  display: flex;
  flex-direction: column;
}

.lightbox__container .lightbox__images li.show img, .lightbox__container .lightbox__images li.show video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lightbox__container .lightbox__images li.show p {
  color: #901C1C;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 10px;
}

.lightbox.show {
  display: flex;
}

@media screen and (min-width: 680px) {
  .photographer {
    background-color: #FAFAFA;
    border-radius: 5px;
    grid-template-columns: 1fr 200px;
    align-items: center;
  }
  .photographer__info-contact button {
    position: unset;
    transform: translateX(0);
    margin-left: 100px;
    font-size: 20px;
    line-height: 26px;
    padding: 25px 20px;
  }
  .photographer__tags {
    position: relative;
    padding-top: 20px;
  }
  .photographer__portrait {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .photographer {
    padding: 50px;
  }
}
/*# sourceMappingURL=photographer.css.map */