@import 'base';

.photographer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
    &__info {
        &-contact {
            display: flex;
            h1 {
                color: $secondary-color;
            }
            button {
                position: fixed;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__tags {
        @extend %tag-ul;
        width: 100%;
        position: absolute;
        li {
            @extend %tag-list-item;
        }
    }
    &__portrait {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.photographer__images {
    display: flex;
    width: 100%;
    &-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 350px;
            display: flex;
            flex-direction: column;
            .image {
                width: 100%;
                height: 300px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


@media screen and (min-width: $tablet-break) {
    .photographer {
        background-color: #FAFAFA;
        border-radius: 5px;
        grid-template-columns: 1fr 200px;
        align-items: center;
        &__info {
            &-contact {
                justify-content: space-between;
                button {
                    position: unset;
                }
            }
        }
        &__tags {
            position: relative;
        }
        &__portrait {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (min-width: $desktop-break) {
    .photographer {
        padding: 50px;
    }
}