@import 'base';

.photographer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    position: relative;
    // display: flex;
    // justify-content: space-between;
    &__info {
        &-contact {
            display: flex;
            h1 {
                color: $secondary-color;
            }
            button {
                position: fixed;
                bottom: 30px;
                left: 50%;
                background-color: $primary-color;
                border-radius: 5px;
                border: none;
                color: white;
                font-size: 18px;
                line-height: 23px;
                font-weight: bold;
                padding: 5px 20px;
                transform: translateX(-50%);
            }
        }
    }
    &__tags {
        @extend %tag-ul;
        width: 100%;
        // position: absolute;
        li {
            @extend %tag-list-item;
        }
    }
    &__portrait {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.photographer__images {
    display: flex;
    width: 100%;
    flex-direction: column;
    .trier {
        display: flex;
        align-items: center;
        padding: 20px 0;
        p {
            font-size: 1.125rem;
            line-height: 1.43rem;
            color: black;
        }
        &__list {
            background-color: $primary-color;
            padding: 10px 20px;
            margin-left: 20px;
            select {
                appearance: none;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 1.125rem;
                line-height: 1.43rem;
            }
        }
    }
    &-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 350px;
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
            .image {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image__title {
                font-size: 1.5rem;
                line-height: 1.9rem;
            }
            .image__rating {
                display: flex;
                align-items: center;
                h4 {
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                }
            }
        }
    }
}


@media screen and (min-width: $tablet-break) {
    .photographer {
        background-color: #FAFAFA;
        border-radius: 5px;
        grid-template-columns: 1fr 200px;
        align-items: center;
        &__info {
            &-contact {
                // justify-content: space-between;
                button {
                    position: unset;
                    transform: translateX(0);
                    margin-left: 100px;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 20px 10px;
                }
            }
        }
        &__tags {
            position: relative;
            padding-top: 20px;
        }
        &__portrait {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (min-width: $desktop-break) {
    .photographer {
        padding: 50px;
    }
}