@import 'base';

.photographer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    position: relative;
    &__info {
        &-contact {
            display: flex;
            align-items: center;
            h1 {
                color: $secondary-color;
            }
            button {
                position: fixed;
                bottom: 30px;
                left: 50%;
                background-color: $primary-color;
                border-radius: 5px;
                border: none;
                color: white;
                font-size: 18px;
                line-height: 23px;
                font-weight: bold;
                padding: 5px 20px;
                transform: translateX(-50%);
                cursor: pointer;
                transition: $basic-transition;
                &:hover {
                    background-color: $secondary-color;
                    color: $black;
                }
            }
        }
    }
    &__tags {
        @extend %tag-ul;
        width: 100%;
        li {
            @extend %tag-list-item;
            cursor: pointer;
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }
    &__portrait {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.photographer__images {
    display: flex;
    width: 100%;
    flex-direction: column;
    .trier {
        display: flex;
        align-items: center;
        padding: 20px 0;
        p {
            font-size: 1.125rem;
            line-height: 1.43rem;
            color: black;
        }
        &__list {
            background-color: $primary-color;
            padding: 10px 20px;
            margin-left: 20px;
            select {
                appearance: none;
                border: none;
                background-color: transparent;
                color: white;
                font-size: 1.125rem;
                line-height: 1.43rem;
            }
        }
    }
    &-list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 70px;
        li {
            width: 350px;
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
            .image {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 10px;
                cursor: pointer;
                img, video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image__title {
                font-size: 1.5rem;
                line-height: 1.9rem;
            }
            .image__rating {
                display: flex;
                align-items: center;
                h4 {
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                    margin-right: 10px;
                }
                i.show {
                    cursor: pointer;
                    font-size: 20px;
                    color: $primary-color;
                }
                i.hidden {
                    display: none;
                }

            }
        }
    }
}

.lightbox {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__container {
        width: 80%;
        height: 90%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lightbox__previous {
            width: 25px;
            height: 50px;
            position: relative;
            background-color: white;
            cursor: pointer;
            &:before, &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-top: 25px solid white;
                border-bottom: 25px solid white;
                border-right: 25px solid $primary-color;
                top: 0;
                left: 0;
                box-sizing: border-box;
            }
            &:after {
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-right: 25px solid white;
                left: 7px;
                z-index: 1;
            }
        }
        .lightbox__next {
            width: 25px;
            height: 50px;
            position: relative;
            background-color: white;
            cursor: pointer;
            &:before, &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-top: 25px solid white;
                border-bottom: 25px solid white;
                border-left: 25px solid $primary-color;
                top: 0;
                left: 0;
                box-sizing: border-box;
            }
            &:after {
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 25px solid white;
                left: -7px;
                z-index: 1;
            }
        }
        .lightbox__close {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            // background-color: yellow;
            &:before, &:after {
                content: "";
                position: absolute;
                width: 40px;
                height: 5px;
                background-color: $primary-color;
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }
            &:after {
                transform: translateY(-50%) rotate(45deg);
            }

        }
        .lightbox__images {
            width: 90%;
            height: 90%;
            justify-content: center;
            display: flex;
            li {
                display: none;
            }
            li.show {
                display: flex;
                flex-direction: column;
                img, video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                p {
                    color: $primary-color;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding-top: 10px;
                }
            }
        }
    }
}

.lightbox.show {
    display: flex;
}

.like-and-price-section {
    display: none;
}

@media screen and (min-width: $tablet-break) {
    .photographer {
        background-color: #FAFAFA;
        border-radius: 5px;
        grid-template-columns: 1fr 200px;
        align-items: center;
        &__info {
            &-contact {
                // justify-content: space-between;
                button {
                    position: unset;
                    transform: translateX(0);
                    margin-left: 100px;
                    font-size: 20px;
                    line-height: 26px;
                    padding: 25px 20px;
                }
            }
        }
        &__tags {
            position: relative;
            padding-top: 20px;
        }
        &__portrait {
            width: 200px;
            height: 200px;
        }
    }

    .like-and-price-section {
        width: 380px;
        display: flex;
        padding: 20px 35px;
        background-color: $secondary-color;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        right: 40px;
        border-radius: 5px 5px 0px 0px;
        z-index: 30;
        h4 {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $black;
        }
        .like-container {
            display: flex;
            align-items: center;
            i {
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }

}

@media screen and (min-width: $desktop-break) {
    .photographer {
        padding: 50px;
    }
}